.page-header {
    width: 100%;
    
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 950px;
        margin: 49px auto;
        border-bottom: 2.5px solid var(--light-green);
        padding: 0 44px 18px 25px;
    
        h1 {
            font-size: 48px;
            font-weight: 900;
            cursor: pointer;
            background: var(--title-gradient);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    
        .menu {
            display: flex;
            align-items: center;
            gap: 35px;
    
            .plus, .filter {
                cursor: pointer;
            }
        }
    }
}