main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
    flex-direction: column;
    text-align: center;
    gap: 31px;

    .text {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        h3 {
            font-size: 36px;
            font-weight: 600;
            color: rgba(44, 83, 73, 0.6);
        }
    
        p {
            font-size: 24px;
            font-weight: 500;
            color: rgba(57, 100, 92, 0.6);
            
        }

    }


}


